html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  letter-spacing: -1%;
  color: #ffffff;
}

::-moz-selection {
  background-color: #f6c200;
  color: #1a191d;
}

::selection {
  background-color: #f6c200;
  color: #1a191d;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

p {
  line-height: 130%;
}

.logo a {
  text-decoration: none;
  font-size: 1.725rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin: -0.25rem;
  white-space: nowrap;
}
.logo a span {
  -webkit-filter: drop-shadow(0 0 0.25rem #f6c200);
          filter: drop-shadow(0 0 0.25rem #f6c200);
}

a {
  text-decoration: underline;
  color: #f6c200;
}

button a {
  text-decoration: none;
  color: #ffffff;
}

strong {
  font-weight: 800;
}

code {
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #876800;
  background-color: #281450;
  font-size: 0.875rem;
  font-family: monospace;
  color: #f6c200;
}

svg {
  height: 1.25rem;
  width: 1.25rem;
}

ul, ol {
  padding-left: 1rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

@media screen and (min-width: 768px) {
  *, html {
    font-size: 18px;
  }
}
*, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:focus, html:focus {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}

html {
  scroll-behavior: smooth;
  background-color: #1f0e41;
}

body {
  min-height: 100vh;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 0.5rem;
  background-color: #1f0e41;
  background: -webkit-gradient(linear, left top, left bottom, from(#462784), to(#1f0e41));
  background: linear-gradient(to bottom, #462784, #1f0e41);
}

header, main, footer {
  width: 100%;
  max-width: 720px;
}

header, footer {
  padding: 0.5rem 1.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

footer {
  padding-top: 1rem;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.panel, #urls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.panel {
  padding: 1.25rem 1.25rem 1.5rem;
  border-radius: 1rem;
  background-color: rgba(239, 236, 250, 0.1);
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(223, 217, 246, 0.2)), to(rgba(70, 39, 132, 0.2)));
  background: linear-gradient(to bottom right, rgba(223, 217, 246, 0.2), rgba(70, 39, 132, 0.2));
  border-top: 0.0625rem solid rgba(239, 236, 250, 0.5);
  border-bottom: 0.0625rem solid rgba(239, 236, 250, 0.25);
  backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 0 0.0625rem 0 rgba(239, 236, 250, 0.5), 0 0.5rem 1rem rgba(10, 3, 28, 0.1), inset 1rem 2rem 1rem 0 rgba(18, 7, 42, 0.1);
          box-shadow: 0 0 0.0625rem 0 rgba(239, 236, 250, 0.5), 0 0.5rem 1rem rgba(10, 3, 28, 0.1), inset 1rem 2rem 1rem 0 rgba(18, 7, 42, 0.1);
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  padding: 0;
}
nav a {
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  border-radius: 0.5rem;
  border: 0.0625rem solid transparent;
}
nav a:hover {
  background-color: #12072a;
}

.active {
  background-color: rgba(239, 236, 250, 0.1);
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(223, 217, 246, 0.2)), to(rgba(70, 39, 132, 0.2)));
  background: linear-gradient(to bottom right, rgba(223, 217, 246, 0.2), rgba(70, 39, 132, 0.2));
  border-top: 0.0625rem solid rgba(239, 236, 250, 0.5);
  border-bottom: 0.0625rem solid rgba(239, 236, 250, 0.25);
  backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 0 0.0625rem 0 rgba(239, 236, 250, 0.5), 0 0.5rem 1rem rgba(10, 3, 28, 0.1), inset 1rem 2rem 1rem 0 rgba(18, 7, 42, 0.1);
          box-shadow: 0 0 0.0625rem 0 rgba(239, 236, 250, 0.5), 0 0.5rem 1rem rgba(10, 3, 28, 0.1), inset 1rem 2rem 1rem 0 rgba(18, 7, 42, 0.1);
}

.active:hover {
  background-color: rgba(239, 236, 250, 0.1);
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(223, 217, 246, 0.4)), to(rgba(70, 39, 132, 0.4)));
  background: linear-gradient(to bottom right, rgba(223, 217, 246, 0.4), rgba(70, 39, 132, 0.4));
}

input, textarea, button {
  width: 100%;
  padding: 0.75rem;
  border: none;
}

input, textarea {
  border-radius: 0.25rem;
  font-weight: 400;
  color: #1a191d;
}
input:focus, textarea:focus {
  outline: 0.125rem solid #ffd028;
}

input::-webkit-input-placeholder {
  color: #989898;
}

input::-moz-placeholder {
  color: #989898;
}

input:-ms-input-placeholder {
  color: #989898;
}

input::-ms-input-placeholder {
  color: #989898;
}

input::placeholder {
  color: #989898;
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.actions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

@media screen and (min-width: 480px) {
  body {
    padding: 1.5rem;
  }
  header, footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .input-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .actions {
    width: auto;
  }
  .panel {
    padding: 1.25rem 1.5rem 1.5rem;
  }
}
button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
  font-weight: 700;
}
button:hover {
  cursor: pointer;
}

.primary {
  color: #1a191d;
  background-color: #ffd028;
}
.primary:hover {
  background-color: #f6c200;
}
.primary svg path {
  fill: #1a191d;
}

.secondary {
  color: #ffffff;
  background-color: #1f0e41;
}
.secondary:hover {
  background-color: #12072a;
}
.secondary svg path {
  fill: #ffffff;
}

.danger {
  color: #ffffff;
  background-color: rgba(117, 29, 21, 0.5);
}
.danger:hover {
  background-color: #53120c;
}
.danger svg path {
  fill: #ffffff;
}

.upBtn, .downBtn, .removeBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
}

.removeBtn {
  max-width: 3rem;
}

.disabled {
  opacity: 0.25;
  pointer-events: none;
}

@media screen and (min-width: 480px) {
  .upBtn, .downBtn, .removeBtn {
    max-width: 3rem;
  }
}
#cookies {
  position: absolute;
  z-index: 100;
  display: none;
}

#cookiesDimmer {
  padding-bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 3, 28, 0)), color-stop(25%, rgba(10, 3, 28, 0.75)), to(#0a031c));
  background: linear-gradient(to bottom, rgba(10, 3, 28, 0) 0%, rgba(10, 3, 28, 0.75) 25%, #0a031c 100%);
  position: fixed;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cookiesModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
  background-color: rgba(239, 236, 250, 0.1);
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(223, 217, 246, 0.2)), to(rgba(70, 39, 132, 0.2)));
  background: linear-gradient(to bottom right, rgba(223, 217, 246, 0.2), rgba(70, 39, 132, 0.2));
  border-top: 0.0625rem solid rgba(239, 236, 250, 0.5);
  border-bottom: 0.0625rem solid rgba(239, 236, 250, 0.25);
  backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 0 0.0625rem 0 rgba(239, 236, 250, 0.5), 0 0.5rem 1rem rgba(10, 3, 28, 0.1), inset 1rem 2rem 1rem 0 rgba(18, 7, 42, 0.1);
          box-shadow: 0 0 0.0625rem 0 rgba(239, 236, 250, 0.5), 0 0.5rem 1rem rgba(10, 3, 28, 0.1), inset 1rem 2rem 1rem 0 rgba(18, 7, 42, 0.1);
  background-color: rgba(10, 3, 28, 0.75);
}

#cookiesActions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 480px) {
  #cookiesDimmer {
    padding: 3rem;
  }
  #cookiesModal {
    max-width: 480px;
    padding: 1.25rem 1.25rem 1.5rem;
    border-radius: 1rem;
  }
}
#info-accordions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1.5rem 1.5rem;
  border-radius: 1rem;
  border-top: 0.0625rem solid rgba(239, 236, 250, 0.5);
  border-bottom: 0.0625rem solid rgba(239, 236, 250, 0.25);
  backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 0 0.0625rem 0 rgba(239, 236, 250, 0.5), 0 0.5rem 1rem rgba(10, 3, 28, 0.1), inset 1rem 2rem 1rem 0 rgba(18, 7, 42, 0.1);
          box-shadow: 0 0 0.0625rem 0 rgba(239, 236, 250, 0.5), 0 0.5rem 1rem rgba(10, 3, 28, 0.1), inset 1rem 2rem 1rem 0 rgba(18, 7, 42, 0.1);
}

details[open] {
  gap: 1.5rem;
  background-color: rgba(18, 7, 42, 0.5);
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  position: relative;
  padding: 1.5rem;
  margin-right: -1.5rem;
  margin-bottom: -1.5rem;
  margin-left: -1.5rem;
  border-radius: 1rem;
  list-style: none;
}
summary::before {
  content: "";
  position: absolute;
  right: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  background-color: currentColor;
  -webkit-mask-image: url("../img/chevron-down.svg");
          mask-image: url("../img/chevron-down.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
}
summary:hover {
  cursor: pointer;
}

details[open] summary::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
  margin-top: 0.125rem;
  border-top: 0.0625rem dotted rgba(255, 255, 255, 0.25);
}

.question {
  margin-bottom: -0.75rem;
}

.answer {
  font-style: italic;
}