doctype html
html(lang="en")
  include includes/head.pug
  body#404
    include includes/cookies.pug
    include includes/header.pug
    main
      .panel
        h1 Tab not found
        p This page won't make it into your custom starting tabs.
        button.secondary <a href="index.html">Back to startpage</a>
    include includes/footer.pug
