doctype html
html(lang="en")
  include includes/head.pug
  body#about
    include includes/cookies.pug
    include includes/header.pug
    main
      .panel
        h1 Great, but not great
        p Did you know you can set multiple custom opening tabs in Firefox? Go to <code>Firefox &gt; Settings...</code> or type <code>about:preferences</code> into the address bar and navigate to the <strong>Home</strong> section to find this <strong>Homepage and new windows</strong> input:
        <img src="img/firefox-settings.png" alt="Firefox Settings about:preferences Homepage and new windows">
        p Here you can add custom URLs divided by a "pipe" symbol (this one | here) to open multiple pages on browser start.
        p It's a very convenient feature, but the usability is quite poor. Editing URLs and identifying "pipes" in between uppercase <code>I</code> and lowercase <code>l</code> characters in a single row input field is no fun. That's why I've built this little web tool here.
        p And if you're still here reading: I hope it helped! 🍻
    include includes/footer.pug
