#cookies
  #cookiesDimmer
    #cookiesModal
      h3 Tracking
      p This page collects <strong>anonymized usage data</strong > via Google Analytics. By accepting, you're helping me, a nerdy Designer/Dev 🤓, to improve and build better products. Read more in the <a href="privacy">privacy policy</a>.

      #cookiesActions
        button#cookiesAcceptButton.primary Accept
        button#cookiesDeclineButton.secondary Decline