footer
  nav
    ul
      li
        <a href="legal.html">Legal</a>
      li
        <a href="privacy.html">Privacy</a>
  .copyright © 2025 All rights reserved

script(type='text/javascript' src='js/functions-min.js')