footer
  nav
    ul
      li
        <a href="legal" data-page="legal">Legal</a>
      li
        <a href="privacy" data-page="privacy">Privacy</a>
  .copyright © <span id="year">2025</span> All rights reserved

script(type='text/javascript' src='js/functions-min.js')